Spam ham classification is a classical machine learning problem. 

To work on this, dataset from Kaggle has been used.

In [1]:
import pandas as pd

In [11]:
data = pd.read_csv("C:/Users/Raghvendra/DataScience/projects/spam_ham/spamData.csv", encoding='latin-1')

In [12]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [13]:
data.tail()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [16]:
data.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [20]:
pd.isnull(data["Unnamed: 2"]).count()

5572

In [21]:
pd.isnull(data["Unnamed: 3"]).count()

5572

In [22]:
pd.isnull(data["Unnamed: 4"]).count()

5572

In [24]:
data.drop(["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], axis=1)

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [41]:
data = data.rename(columns={"v2" : "mails", "v1":"label"})

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
trainMessage,testMessage,trainLabel,testLabel=train_test_split(data['mails'],data['label'],test_size=0.2,random_state=0)

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords

In [45]:
stopWords = stopwords.words("english")
vectorizer = TfidfVectorizer(stop_words=stopWords,lowercase=True)

trainCount=vectorizer.fit_transform(trainMessage)
testCount=vectorizer.transform(testMessage)

**Naive Bayes**

In [46]:
from sklearn.naive_bayes import MultinomialNB

In [47]:
nbClassifier = MultinomialNB()
nbClassifier.fit(trainCount, trainLabel)
prediction = nbClassifier.predict(testCount)
print(prediction)

['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']

In [48]:
from sklearn.metrics import confusion_matrix

In [49]:
cm = confusion_matrix(testMessage, prediction) 
  
print ("Confusion Matrix : \n", cm)

Confusion Matrix :
 [[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [50]:
from sklearn.metrics import accuracy_score, classification_report

In [51]:
print("Accuracy score:",format(accuracy_score(testLabel,prediction)))
print(classification_report(testLabel,prediction))

Accuracy score: 0.9623318385650225
              precision    recall  f1-score   support

         ham       0.96      1.00      0.98       949
        spam       1.00      0.75      0.86       166

    accuracy                           0.96      1115
   macro avg       0.98      0.87      0.92      1115
weighted avg       0.96      0.96      0.96      1115

**Logistic Regession**

In [52]:
from sklearn.linear_model import LogisticRegression

In [53]:
lrClassifier = LogisticRegression(random_state = 0) 
lrClassifier.fit(trainCount, trainLabel)
prediction = lrClassifier.predict(testCount)
print(prediction)

C:\Users\Raghvendra\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

['ham' 'ham' 'ham' ... 'ham' 'ham' 'ham']

In [54]:
cm = confusion_matrix(testMessage, prediction) 
  
print ("Confusion Matrix : \n", cm)

Confusion Matrix :
 [[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [55]:
print("Accuracy score:",format(accuracy_score(testLabel,prediction)))
print(classification_report(testLabel,prediction))

Accuracy score: 0.957847533632287
              precision    recall  f1-score   support

         ham       0.95      1.00      0.98       949
        spam       0.99      0.72      0.84       166

    accuracy                           0.96      1115
   macro avg       0.97      0.86      0.91      1115
weighted avg       0.96      0.96      0.96      1115