In [111]:
import pandas as pd
#references - see ../referencesUsed.txt file

In [112]:
listingsSummary = pd.read_csv("D:/Raghvendra/Masters/Irish Applications/DCU/DCU subjects study/Sem2_CA683 data analytics and data mining/Main Assignment/berlin airbnb 2020/listings_summary.csv")
neighbourhoods = pd.read_csv("D:/Raghvendra/Masters/Irish Applications/DCU/DCU subjects study/Sem2_CA683 data analytics and data mining/Main Assignment/berlin airbnb 2020/neighbourhoods.csv")

C:\Users\Raghvendra\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (43,61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [113]:
listingsSummary.head(3)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3176,https://www.airbnb.com/rooms/3176,20200218053611,2020-02-18,Fabulous Flat in great Location,This beautiful first floor apartment is situa...,1st floor (68m2) apartment on Kollwitzplatz/ P...,This beautiful first floor apartment is situa...,none,The neighbourhood is famous for its variety of...,...,f,f,strict_14_with_grace_period,f,f,1,1,0,0,1.12
1,3309,https://www.airbnb.com/rooms/3309,20200218053611,2020-02-19,BerlinSpot Schöneberg near KaDeWe,First of all: I prefer short-notice bookings. ...,"Your room is really big and has 26 sqm, is ver...",First of all: I prefer short-notice bookings. ...,none,"My flat is in the middle of West-Berlin, direc...",...,f,f,strict_14_with_grace_period,f,f,1,0,1,0,0.34
2,6883,https://www.airbnb.com/rooms/6883,20200218053611,2020-02-19,Stylish East Side Loft in Center with AC & 2 b...,NaN,Stay in a stylish loft on the second floor and...,Stay in a stylish loft on the second floor and...,none,The emerging and upcoming East of the new hip ...,...,f,f,moderate,f,t,1,1,0,0,1.08

In [114]:
neighbourhoods.head(3)

    neighbourhood_group        neighbourhood
0  Charlottenburg-Wilm.            Barstraße
1  Charlottenburg-Wilm.  Charlottenburg Nord
2  Charlottenburg-Wilm.  Düsseldorfer Straße

In [115]:
listingsSummary[['name', 'space','experiences_offered', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'price', 'monthly_price','host_total_listings_count']].head()

,name,space,experiences_offered,neighbourhood_cleansed,neighbourhood_group_cleansed,price,monthly_price,host_total_listings_count
0,Fabulous Flat in great Location,1st floor (68m2) apartment on Kollwitzplatz/ P...,none,Prenzlauer Berg Südwest,Pankow,$90.00,"$1,900.00",1.0
1,BerlinSpot Schöneberg near KaDeWe,"Your room is really big and has 26 sqm, is ver...",none,Schöneberg-Nord,Tempelhof - Schöneberg,$28.00,$599.00,1.0
2,Stylish East Side Loft in Center with AC & 2 b...,Stay in a stylish loft on the second floor and...,none,Frankfurter Allee Süd FK,Friedrichshain-Kreuzberg,$125.00,"$1,399.00",1.0
3,BrightRoom with sunny greenview!,"The BrightRoom is an approx. 20 sqm (215ft²), ...",none,Helmholtzplatz,Pankow,$33.00,NaN,2.0
4,Geourgeous flat - outstanding views,"THE APPARTMENT - 4 bedroom (US, Germany: 5 roo...",none,Prenzlauer Berg Südwest,Pankow,$180.00,NaN,1.0

Data Preparation

In [116]:
#Cleaning the price column

priceUpdated = listingsSummary['price'].map(lambda p: int(p[1:-3].replace(",", "")))
listingsSummary['price'] = priceUpdated
listingsSummary['price'].describe()

#priceLists = ['price', 'extra_people', 'cleaning_fee']

count    25197.000000
mean        73.849863
std        225.236453
min          0.000000
25%         35.000000
50%         50.000000
75%         79.000000
max       9000.000000
Name: price, dtype: float64

In [117]:
priceUpdated = listingsSummary['extra_people'].map(lambda p: int(p[1:-3].replace(",", "")))
listingsSummary['extra_people'] = priceUpdated
listingsSummary['extra_people'].describe()

count    25197.000000
mean         8.387387
std         11.733263
min          0.000000
25%          0.000000
50%          5.000000
75%         15.000000
max        250.000000
Name: extra_people, dtype: float64

In [118]:
#Lets check how many values are missing
#https://thispointer.com/python-pandas-count-number-of-nan-or-missing-values-in-dataframe-also-row-column-wise/
listingsSummary['cleaning_fee'].isnull().sum()

7374

In [119]:
#listingsSummary['cleaning_fee'].astype(float)

In [120]:
#listingsSummary['cleaning_fee'].astype(str).sum
#https://www.geeksforgeeks.org/working-with-missing-data-in-pandas/
listingsSummary['cleaning_fee'].notnull().sum()

17823

In [121]:
listingsSummary['cleaning_fee'].fillna(0)

0        $100.00
1         $30.00
2         $39.00
3          $0.00
4         $80.00
          ...
25192          0
25193          0
25194      $7.00
25195          0
25196          0
Name: cleaning_fee, Length: 25197, dtype: object

In [122]:
#listingsSummary['cleaning_fee'].mean()

In [123]:
#priceUpdated = listingsSummary['cleaning_fee'].map(lambda p: int(p[1:-3].replace(",", "")))
#listingsSummary['cleaning_fee'] = priceUpdated
#listingsSummary['cleaning_fee'].describe()

In [124]:
listingsSummary['host_response_rate'] = listingsSummary['host_response_rate'].str.replace('%', '')
listingsSummary['host_response_rate'] = pd.to_numeric(listingsSummary['host_response_rate'])/100

Let's clean the boolean variables

In [125]:
def cleanBoolean(df, variable):
    df.loc[df[variable] == 'f', variable] = False
    df.loc[df[variable] == 't', variable] = True
    df[variable] = df[variable].astype('bool')

    return df

booleanList = ['host_is_superhost', 'host_identity_verified', 'host_has_profile_pic', 'has_availability', 
                'requires_license', 'calendar_updated', 'is_location_exact', 'instant_bookable', 
                'is_business_travel_ready', 'require_guest_phone_verification', 'require_guest_profile_picture']

for variable in booleanList:
    listingsSummary = cleanBoolean(listingsSummary, variable)

C:\Users\Raghvendra\Anaconda3\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [126]:
dfCleaned = listingsSummary.copy()

# We drop unneded columns
dfCleaned.drop(columns=['id', 'scrape_id', 'host_id',  'latitude', 'longitude', 'host_acceptance_rate', 
                       'host_thumbnail_url', 'host_picture_url', 'square_feet', 'thumbnail_url', 'medium_url', 
                       'xl_picture_url', 'host_verifications', 'street', 'jurisdiction_names', 'monthly_price', 
                       'weekly_price', 'summary', 'space',  'description', 'neighborhood_overview', 'notes', 
                       'transit', 'access', 'interaction', 'house_rules', 'host_neighbourhood', 'host_location', 
                       'host_about', 'neighbourhood', 'first_review', 'last_review', 'license', 'security_deposit', 
                       'state', 'zipcode', 'last_scraped', 'calendar_last_scraped', 'smart_location', 
                       'listing_url', 'host_url', 'picture_url', 'city', 'country_code', 'city', 'host_since', 
                       'name', 'amenities', 'host_name'], inplace=True)

In [127]:
dfCleaned.head()

,experiences_offered,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,none,within a few hours,1.0,False,1.0,1.0,True,True,Prenzlauer Berg Südwest,Pankow,...,False,False,strict_14_with_grace_period,False,False,1,1,0,0,1.12
1,none,within a day,1.0,False,1.0,1.0,True,False,Schöneberg-Nord,Tempelhof - Schöneberg,...,False,False,strict_14_with_grace_period,False,False,1,0,1,0,0.34
2,none,within an hour,1.0,False,1.0,1.0,True,True,Frankfurter Allee Süd FK,Friedrichshain-Kreuzberg,...,False,False,moderate,False,True,1,1,0,0,1.08
3,none,within an hour,1.0,True,2.0,2.0,True,True,Helmholtzplatz,Pankow,...,False,False,moderate,False,False,2,0,2,0,2.24
4,none,a few days or more,0.0,False,1.0,1.0,True,True,Prenzlauer Berg Südwest,Pankow,...,False,False,strict_14_with_grace_period,False,False,1,1,0,0,0.15

In [128]:
dfCleaned.tail()

,experiences_offered,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
25192,none,NaN,NaN,False,0.0,0.0,True,False,Tiergarten Süd,Mitte,...,True,False,strict_14_with_grace_period,False,False,1,1,0,0,NaN
25193,none,NaN,NaN,False,1.0,1.0,True,False,Moabit Ost,Mitte,...,False,False,flexible,False,False,1,0,1,0,NaN
25194,none,NaN,NaN,False,1.0,1.0,True,False,südliche Luisenstadt,Friedrichshain-Kreuzberg,...,False,False,flexible,False,False,1,0,1,0,NaN
25195,none,NaN,NaN,False,0.0,0.0,True,False,Hellersdorf-Nord,Marzahn - Hellersdorf,...,True,False,flexible,False,False,1,0,1,0,NaN
25196,none,NaN,NaN,False,1.0,1.0,True,False,Parkviertel,Mitte,...,False,False,flexible,False,False,1,1,0,0,NaN

In [129]:
# Fill numeric columns with the mean
numericColumns = dfCleaned.select_dtypes(include=['float', 'int']).columns
for col in numericColumns:
    dfCleaned[col].fillna((dfCleaned[col].mean()), inplace=True)

In [130]:
# Fill categorical columns with the mode
categoricalColumns = dfCleaned.select_dtypes(include=['object']).columns
for col in categoricalColumns:
    dfCleaned[col].fillna((dfCleaned[col].mode()[0]), inplace=True)

In [131]:
dfCleaned.head()

,experiences_offered,host_response_time,host_response_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,neighbourhood_group_cleansed,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,none,within a few hours,1.0,False,1.0,1.0,True,True,Prenzlauer Berg Südwest,Pankow,...,False,False,strict_14_with_grace_period,False,False,1,1,0,0,1.12
1,none,within a day,1.0,False,1.0,1.0,True,False,Schöneberg-Nord,Tempelhof - Schöneberg,...,False,False,strict_14_with_grace_period,False,False,1,0,1,0,0.34
2,none,within an hour,1.0,False,1.0,1.0,True,True,Frankfurter Allee Süd FK,Friedrichshain-Kreuzberg,...,False,False,moderate,False,True,1,1,0,0,1.08
3,none,within an hour,1.0,True,2.0,2.0,True,True,Helmholtzplatz,Pankow,...,False,False,moderate,False,False,2,0,2,0,2.24
4,none,a few days or more,0.0,False,1.0,1.0,True,True,Prenzlauer Berg Südwest,Pankow,...,False,False,strict_14_with_grace_period,False,False,1,1,0,0,0.15

In [132]:
# We drop rows with missing values
dfCleaned.dropna(axis=0, inplace=True)

# We check againg if any column has missing values
dfCleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25197 entries, 0 to 25196
Data columns (total 58 columns):
experiences_offered                             25197 non-null object
host_response_time                              25197 non-null object
host_response_rate                              25197 non-null float64
host_is_superhost                               25197 non-null bool
host_listings_count                             25197 non-null float64
host_total_listings_count                       25197 non-null float64
host_has_profile_pic                            25197 non-null bool
host_identity_verified                          25197 non-null bool
neighbourhood_cleansed                          25197 non-null object
neighbourhood_group_cleansed                    25197 non-null object
market                                          25197 non-null object
country                                         25197 non-null object
is_location_exact                               25197 non-null bool
property_type                                   25197 non-null object
room_type                                       25197 non-null object
accommodates                                    25197 non-null int64
bathrooms                                       25197 non-null float64
bedrooms                                        25197 non-null float64
beds                                            25197 non-null float64
bed_type                                        25197 non-null object
price                                           25197 non-null int64
cleaning_fee                                    25197 non-null object
guests_included                                 25197 non-null int64
extra_people                                    25197 non-null int64
minimum_nights                                  25197 non-null int64
maximum_nights                                  25197 non-null int64
minimum_minimum_nights                          25197 non-null int64
maximum_minimum_nights                          25197 non-null int64
minimum_maximum_nights                          25197 non-null int64
maximum_maximum_nights                          25197 non-null int64
minimum_nights_avg_ntm                          25197 non-null float64
maximum_nights_avg_ntm                          25197 non-null float64
calendar_updated                                25197 non-null bool
has_availability                                25197 non-null bool
availability_30                                 25197 non-null int64
availability_60                                 25197 non-null int64
availability_90                                 25197 non-null int64
availability_365                                25197 non-null int64
number_of_reviews                               25197 non-null int64
number_of_reviews_ltm                           25197 non-null int64
review_scores_rating                            25197 non-null float64
review_scores_accuracy                          25197 non-null float64
review_scores_cleanliness                       25197 non-null float64
review_scores_checkin                           25197 non-null float64
review_scores_communication                     25197 non-null float64
review_scores_location                          25197 non-null float64
review_scores_value                             25197 non-null float64
requires_license                                25197 non-null bool
instant_bookable                                25197 non-null bool
is_business_travel_ready                        25197 non-null bool
cancellation_policy                             25197 non-null object
require_guest_profile_picture                   25197 non-null bool
require_guest_phone_verification                25197 non-null bool
calculated_host_listings_count                  25197 non-null int64
calculated_host_listings_count_entire_homes     25197 non-null int64
calculated_host_listings_count_private_rooms    25197 non-null int64
calculated_host_listings_count_shared_rooms     25197 non-null int64
reviews_per_month                               25197 non-null float64
dtypes: bool(11), float64(16), int64(20), object(11)
memory usage: 9.5+ MB

In [133]:
dfNumerical.tail()

,host_response_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_has_profile_pic,host_identity_verified,is_location_exact,accommodates,bathrooms,bedrooms,...,requires_license,instant_bookable,is_business_travel_ready,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
25192,0.917953,False,0.0,0.0,True,False,True,8,2.0,3.0,...,True,True,False,False,False,1,1,0,0,1.026492
25193,0.917953,False,1.0,1.0,True,False,False,2,1.0,1.0,...,True,False,False,False,False,1,0,1,0,1.026492
25194,0.917953,False,1.0,1.0,True,False,True,2,1.0,0.0,...,True,False,False,False,False,1,0,1,0,1.026492
25195,0.917953,False,0.0,0.0,True,False,True,2,1.0,1.0,...,True,True,False,False,False,1,0,1,0,1.026492
25196,0.917953,False,1.0,1.0,True,False,True,3,1.0,1.0,...,True,False,False,False,False,1,1,0,0,1.026492

In [134]:
dfNumerical.describe()

,host_response_rate,host_listings_count,host_total_listings_count,accommodates,bathrooms,bedrooms,beds,price,guests_included,extra_people,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,25197.000000,25197.000000,25197.000000,25197.000000,25197.000000,25197.000000,25197.000000,25197.000000,25197.000000,25197.000000,...,25197.00000,25197.000000,25197.000000,25197.000000,25197.000000,25197.000000,25197.000000,25197.000000,25197.000000,25197.000000
mean,0.917953,3.637665,3.637665,2.687066,1.104143,1.161415,1.602925,73.849863,1.361432,8.387387,...,9.32654,9.731613,9.745398,9.596226,9.409084,2.285947,1.341787,0.709013,0.144144,1.026492
std,0.147881,36.987407,36.987407,1.587471,0.353830,0.674365,1.225391,225.236453,0.900103,11.733263,...,0.93429,0.631269,0.623566,0.657399,0.770301,4.819634,4.053914,1.094852,2.125157,1.345365
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,2.00000,2.000000,2.000000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,0.917953,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,35.000000,1.000000,0.000000,...,9.00000,9.731613,9.745398,9.596226,9.000000,1.000000,0.000000,0.000000,0.000000,0.190000
50%,0.917953,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,50.000000,1.000000,5.000000,...,9.32654,10.000000,10.000000,10.000000,9.409084,1.000000,1.000000,1.000000,0.000000,0.690000
75%,1.000000,2.000000,2.000000,3.000000,1.000000,1.000000,2.000000,79.000000,1.000000,15.000000,...,10.00000,10.000000,10.000000,10.000000,10.000000,2.000000,1.000000,1.000000,0.000000,1.026492
max,1.000000,1397.000000,1397.000000,16.000000,8.500000,12.000000,24.000000,9000.000000,16.000000,250.000000,...,10.00000,10.000000,10.000000,10.000000,10.000000,55.000000,55.000000,12.000000,43.000000,34.670000

In [135]:
dfNumerical = dfCleaned.select_dtypes(include=['int64', 'float64', 'bool'])
numericalColumnList = dfNumerical.columns
numericalColumnList= numericalColumnList.drop('price')

In [136]:
dfNumericalColumn = dfCleaned[numericalColumnList]

one hot encoding on Catergorical variables

In [137]:
dfCategorical = dfCleaned.select_dtypes(include=['object'])
categoricalColumnList = dfCategorical.columns
categoricalColumnList

Index(['experiences_offered', 'host_response_time', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'market', 'country', 'property_type',
       'room_type', 'bed_type', 'cleaning_fee', 'cancellation_policy'],
      dtype='object')

In [138]:
dfCategoricalColumns = dfCleaned[categoricalColumnList]
for var in  categoricalColumnList:
    # for each cat add dummy var, drop original column
    dfCategoricalColumns = pd.concat([dfCategoricalColumns.drop(var, axis=1), pd.get_dummies(dfCategoricalColumns[var], prefix=var, prefix_sep='_', drop_first=True)], axis=1)

In [139]:
dfCategoricalColumns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25197 entries, 0 to 25196
Columns: 337 entries, host_response_time_within a day to cancellation_policy_super_strict_60
dtypes: uint8(337)
memory usage: 8.3 MB

Final Dataframe

In [140]:
dfFinal = pd.concat([dfNumericalColumn, dfCategoricalColumns], axis=1)

In [141]:
dfFinal.head(3)

,host_response_rate,host_is_superhost,host_listings_count,host_total_listings_count,host_has_profile_pic,host_identity_verified,is_location_exact,accommodates,bathrooms,bedrooms,...,cleaning_fee_$95.00,cleaning_fee_$96.00,cleaning_fee_$97.00,cleaning_fee_$98.00,cleaning_fee_$99.00,cancellation_policy_moderate,cancellation_policy_strict,cancellation_policy_strict_14_with_grace_period,cancellation_policy_super_strict_30,cancellation_policy_super_strict_60
0,1.0,False,1.0,1.0,True,True,True,4,1.0,1.0,...,0,0,0,0,0,0,0,1,0,0
1,1.0,False,1.0,1.0,True,False,True,1,1.0,1.0,...,0,0,0,0,0,0,0,1,0,0
2,1.0,False,1.0,1.0,True,True,True,2,1.0,1.0,...,0,0,0,0,0,1,0,0,0,0

Models

In [142]:
X = dfFinal
y = dfCleaned['price']

In [143]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

In [144]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [145]:
regressor = RandomForestRegressor(n_estimators = 337)
regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)

In [146]:
#feature importance 

impFeature = zip(X_train.columns,regressor.feature_importances_)

importantFeatures = pd.DataFrame(list(impFeature), columns =['feature','importance'])

importantFeatures.sort_values(by=['importance'],ascending= False)

                            feature  importance
220             property_type_Hotel    0.127852
2               host_listings_count    0.115328
41   calculated_host_listings_count    0.114870
3         host_total_listings_count    0.093117
286          cleaning_fee_$2,000.00    0.078398
..                              ...         ...
362             cleaning_fee_$81.00    0.000000
300            cleaning_fee_$280.00    0.000000
291            cleaning_fee_$218.00    0.000000
290            cleaning_fee_$210.00    0.000000
272            cleaning_fee_$153.00    0.000000

[383 rows x 2 columns]

In [147]:
#visualize_pred(y_pred, y_test,'Random Forest')

In [148]:
#Predict and score the model with linear Random Forest

y_test_preds = regressor.predict(X_test) 
"The r-squared score for the model is {} on {} values.".format(r2_score(y_test, y_test_preds), len(y_test))

'The r-squared score for the model is 0.694219975035621 on 5040 values.'

In [149]:
import sklearn.metrics as metrics
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error

In [150]:
randomForest_meanAbsoluteError = metrics.mean_absolute_error(y_test, regressor.predict(X_test))
print ("Random forest: mean absolute error " + str(randomForest_meanAbsoluteError))

Random forest: mean absolute error 25.56855829423633

In [151]:
import numpy as np

In [152]:
RF_RMSE = np.sqrt(metrics.mean_squared_error(y_test, regressor.predict(X_test)))
print ("Random forest: RMSE " + str(RF_RMSE))
RF_R2score = metrics.r2_score(y_test, regressor.predict(X_test))
print ("Random forest: R2 score " + str(RF_R2score))
print('Model accuracy on train set: {:.2f}'.format(regressor.score(X_train, y_train)))
print('Model accuracy on test set: {:.2f}'.format(regressor.score(X_test, y_test)))

Random forest: RMSE 135.5483401678881
Random forest: R2 score 0.694219975035621
Model accuracy on train set: 0.94
Model accuracy on test set: 0.69

In [165]:
regressor = DecisionTreeRegressor(random_state=0)
regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)

In [166]:
#Predict and score the model with decision tree

y_test_preds = regressor.predict(X_test) 
"The r-squared score for the model is {} on {} values.".format(r2_score(y_test, y_test_preds), len(y_test))

'The r-squared score for the model is 0.807416574776276 on 5040 values.'

In [ ]:
plt.scatter(X_test, y_test, color = 'red')
plt.plot(X_test, regressor.predict(X_test), color = 'blue')
plt.title('Decision tree regression model)')
plt.xlabel('independent variables')
plt.ylabel('price')
plt.show()

In [156]:
from sklearn import linear_model

In [157]:
regressor = linear_model.LinearRegression()
regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)

In [158]:
#Predict and score the model with linear regression

y_test_preds = regressor.predict(X_test) 
"The r-squared score for the model is {} on {} values.".format(r2_score(y_test, y_test_preds), len(y_test))

'The r-squared score for the model is 0.18605288534869968 on 5040 values.'

In [159]:
regressor = KNeighborsClassifier(n_neighbors = 2)
regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)

In [160]:
#Predict and score the model with KNN

y_test_preds = regressor.predict(X_test) 
"The r-squared score for the model is {} on {} values.".format(r2_score(y_test, y_test_preds), len(y_test))

'The r-squared score for the model is -0.2878784703308477 on 5040 values.'

In [161]:
decisionTree = DecisionTreeRegressor(random_state=0)
decisionTree.fit(X_train, y_train)
decisionTree_medianAbsoluteError = metrics.median_absolute_error(y_test, decisionTree.predict(X_test))
print ("Decision tree: median absolute error  " + str(decisionTree_medianAbsoluteError))
decisionTree_meanAbsoluteError = metrics.mean_absolute_error(y_test, decisionTree.predict(X_test))
print ("Decision tree: mean absolute error " + str(decisionTree_meanAbsoluteError))
DT_RMSE = np.sqrt(metrics.mean_squared_error(y_test, decisionTree.predict(X_test)))
print ("Decision tree: RMSE " + str(DT_RMSE))
DT_R2score = metrics.r2_score(y_test, decisionTree.predict(X_test))
print ("Decision tree: R2 score " + str(DT_R2score))
print('Model accuracy on train set: {:.2f}'.format(decisionTree.score(X_train, y_train)))
print('Model accuracy on test set: {:.2f}'.format(decisionTree.score(X_test, y_test)))

Decision tree: median absolute error  15.0
Decision tree: mean absolute error 30.61765873015873
Decision tree: RMSE 107.57196485821383
Decision tree: R2 score 0.807416574776276
Model accuracy on train set: 1.00
Model accuracy on test set: 0.81

In [162]:
from sklearn import linear_model

In [163]:
# linear regression testing
linear_reg = linear_model.LinearRegression()
linear_reg.fit(X_train, y_train)
LR_medianAbsoluteError = metrics.median_absolute_error(y_test, linear_reg.predict(X_test))
print("Linear Regression: median absolute error " + str(LR_medianAbsoluteError))
LR_meanAbsoluteError = metrics.mean_absolute_error(y_test, linear_reg.predict(X_test))
print("Linear Regression: mean absolute error " + str(LR_meanAbsoluteError))
LR_RMSE = np.sqrt(metrics.mean_squared_error(y_test, linear_reg.predict(X_test)))
print("Linear Regression: RMSE " + str(LR_RMSE))
LR_R2score = metrics.r2_score(y_test, linear_reg.predict(X_test))
print ("Linear Regression: R2 score " + str(LR_R2score))
print('Model accuracy on train set: {:.2f}'.format(linear_reg.score(X_train, y_train)))
print('Model accuracy on test set: {:.2f}'.format(linear_reg.score(X_test, y_test)))

Linear Regression: median absolute error 23.499178169307157
Linear Regression: mean absolute error 46.36368155134813
Linear Regression: RMSE 221.1504064942823
Linear Regression: R2 score 0.18605288534869968
Model accuracy on train set: 0.33
Model accuracy on test set: 0.19

In [164]:
for k in range(2, 7):
    print("Starting for value of k = " + str(k))
    knn = KNeighborsClassifier(n_neighbors = 2)
    knn.fit(X_test, y_test)
    knn_medianAbsoluteError = metrics.median_absolute_error(y_test, knn.predict(X_test))
    print ("KNN: median absolute error  " + str(knn_medianAbsoluteError))
    knn_meanAbsoluteError = metrics.mean_absolute_error(y_test, knn.predict(X_test))
    print ("KNN: mean absolute error  " + str(knn_meanAbsoluteError))
    knn_RMSE = np.sqrt(metrics.mean_squared_error(y_test, knn.predict(X_test)))
    print ("KNN: RMSE " + str(knn_RMSE))
    knn_R2score = metrics.r2_score(y_test, knn.predict(X_test))
    print ("KNN: R2 score " + str(knn_R2score))

Starting for value of k = 2
KNN: median absolute error  1.0
KNN: mean absolute error  26.207738095238096
KNN: RMSE 160.636482666585
KNN: R2 score 0.5705534913378568
Starting for value of k = 3
KNN: median absolute error  1.0
KNN: mean absolute error  26.207738095238096
KNN: RMSE 160.636482666585
KNN: R2 score 0.5705534913378568
Starting for value of k = 4
KNN: median absolute error  1.0
KNN: mean absolute error  26.207738095238096
KNN: RMSE 160.636482666585
KNN: R2 score 0.5705534913378568
Starting for value of k = 5
KNN: median absolute error  1.0
KNN: mean absolute error  26.207738095238096
KNN: RMSE 160.636482666585
KNN: R2 score 0.5705534913378568
Starting for value of k = 6
KNN: median absolute error  1.0
KNN: mean absolute error  26.207738095238096
KNN: RMSE 160.636482666585
KNN: R2 score 0.5705534913378568

In [175]:
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn import ensemble
from sklearn.metrics import fbeta_score, make_scorer

In [176]:
meanAbsoluteError = make_scorer(mean_absolute_error)
meanSquaredError = make_scorer(mean_squared_error)
r2Score = make_scorer(r2_score)